{% extends "base_login.html" %}

{% block title %}Login{% endblock %}

{% block login_class %}class="active"{% endblock %}

{% block content %}
	<div class="login-page">
		<div class="form">

			<h1>Log In</h1>

			<form action="" method="post">
				<input type="text" placeholder="username" name="username" value="{{request.form.username }}">
				<input type="password" placeholder="password" name="password" value="{{request.form.password }}">
				<!-- <input class="btn btn-default" type="submit" value="LOGIN"> -->
				<button>login</button>
				<p class="message">Not registered? <a href="/signup">Create an account</a></p>
			</form>
			{% if error %} <!-- If there is a non-None error -->
				<p class="error"><strong>Error:</strong> {{ error }}</p> <!-- Error text is displayed along with the content -->
			{% endif %}
		</div>
	</div>
{% endblock %}