{% extends "base_login.html" %}

{% block title %}Create Account{% endblock %}

{% block signup_class %}class="active"{% endblock %}

{% block content %}
	<div class="login-page">
		<div class="form">
			<form action="" method="post">
				<input type="text" placeholder="select username" name="username" value="{{request.form.username }}">
				<input type="password" placeholder="select password" name="password" value="{{request.form.password }}">
				<input type="password" placeholder="rewrite password" name="repassword" value="{{request.form.repassword }}">
				<!-- <input class="btn btn-default" type="submit" value="SIGN UP"> -->
				<button>create</button>
				<p class="message">Already registered? <a href="/login">Sign In</a></p>
			</form>
			{% if error %} <!-- If there is a non-None error -->
				<p class="error"><strong>Error:</strong> {{ error }}</p> <!-- Error text is displayed along with the content -->
			{% endif %}
			<p>By creating an account you agree to our <a href="/terms_and_privacy" style="color:dodgerblue">Terms & Privacy</a>.</p>
		</div>
	</div>
{% endblock %}