{% extends "base.html" %}

{% block title %}Company Analysis{% endblock %}

{% block company_analysis_class %}class="active"{% endblock %}

{% block content %}

<div class="login-page">
	<div>

		{% if users_info %}

			<h1> Users </h1>

			<h2>Filters:</h2>

			<p><b>Showing: </b> Analysis for company {{ users_info }}</p>


			<button onclick="document.location='/company_analysis'">RESET FILTERS</button>

			<p></p>
			<h2>Top fans</h2>
			<h4>For more actions and information about the user click on the username</h4>

			{% for i in range(users_num) %}
				<blockquote class="twitter-user" tw-align-center data-lang="en">
					<p></p>
					<a href="/user:{{ users_list[i][0] }}" style="color:red"><b>&mdash; @{{ users_list[i][1] }}</b></a>
				</blockquote>
			{% endfor %}

			<h2>Total Likes : <u>{{totallikes}}</u></h2><br>
			<h2>Company wast treding on <u>{{mosttrending}}</u> days</h2><br>
			<h2>Company was Tagged in Most number of tweets on <u>{{mosttweets[0][0]}}</u> with <u>{{mosttweets[0][1]}} </u> tweets</h2><br>
			


		{% else %}

			<h1>Select which company's analysis to see</h1>

			<form action="" target="_self" id="bootstrapForm" method="POST">

			<fieldset>
				<legend for="companies_to_show">Select Company</legend>
				<div class="form-group">
					<div class="radio">
						<label>
							<input type="radio" name="companies_to_show" value="AAPL" checked>
							Apple
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="companies_to_show" value="GOOG" >
							Google
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="companies_to_show" value="GOOGL" >
							Alphabet  Inc
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="companies_to_show" value="AMZN" >
							Amazon
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="companies_to_show" value="TSLA" >
							Tesla
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="companies_to_show" value="MSFT" >
							Microsoft
						</label>
					</div>
				</div>
			</fieldset>
				<button>Show Network</button>
			</form>

		{% endif %} 

		 
	</div>
</div>

{% endblock %}