{% extends "base.html" %}

{% block title %}Network Analysis{% endblock %}

{% block network_analysis_class %}class="active"{% endblock %}

{% block content %}
	<div class="login-page">
		<h1>Your network</h1>
		<h3>People who have observed you:</h3>
		<h3>User's you may know:</h3>
		<h3>Your interests match with:</h3>
	</div>

	<div class="login-page">
	<div>

		{% if users_info %}

			<h1> Users </h1>

			<h2>Filters:</h2>

			<p><b>Showing: </b>{{ users_info }}</p>


			<button onclick="document.location='/network_analysis'">RESET FILTERS</button>

			<p></p>

			<h3>For more actions and information about the user click on the username</h3>

			{% for i in range(users_num) %}
				<blockquote class="twitter-user" tw-align-center data-lang="en">
					<p></p>
					<a href="/user:{{ users_list[i][0] }}" style="color:red"><b>&mdash; @{{ users_list[i][1] }}</b></a>
				</blockquote>
			{% endfor %}

		{% else %}

			<h1>Select which Network to see</h1>

			<form action="" target="_self" id="bootstrapForm" method="POST">

				<!-- Field type: "checkboxes" id: "users_to_show" -->
				<fieldset>
					<legend for="users_to_show">Select Users</legend>
					<div class="form-group">
						<div class="radio">
							<label>
								<input type="radio" name="users_to_show" value="People who have observed you" checked>
								People who have observed you
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="users_to_show" value="Users you may know" >
								Users you may know
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="users_to_show" value="Users your interests match with" >
								Users your interests match with
							</label>
						</div>
					</div>
				</fieldset>

				<button>Show Network</button>
			</form>

		{% endif %} 

		 
	</div>
</div>
{% endblock %}