{% extends "base_login.html" %}

{% block title %}Terms & Privacy{% endblock %}

{% block content %}
	<div class="login-page">
		<h1 id="privacy-policy">Privacy Policy</h1>
		<p>We believe you should always know what data we collect from you and how we use it, and that you should have meaningful control over both. We want to empower you to make the best decisions about the information that you share with us.</p>
		<p>That’s the basic purpose of this Privacy Policy.</p>
		<p>Here are the key things:</p>
		<ul>
			<li>MNCTwitter is public and Tweets are immediately viewable and searchable by anyone around the world.</li>
			<li>We use your personal information for things like showing you more relevant Tweets and people to follow.</li>
			<li>In addition to information you share with us, we use your Tweets, content you’ve read, Liked, or Retweeted, and other information to determine what topics you’re interested in.</li>
		</ul>
	</div>
{% endblock %}