{% extends "base.html" %}

{% block title %}Tweet {{ tweet_id }}{% endblock %}

{% block my_tweets_class %}
	{% if user_tweet %}
		class="active"
	{% endif %}
{% endblock %}

{% block read_tweets_class %}
	{% if not user_tweet %}
		class="active"
	{% endif %}
{% endblock %}

{% block content %}
<div class="login-page">
	<div>
		<blockquote class="twitter-tweet" tw-align-center data-lang="en">
			<p lang="en" dir="ltr">
				{{ tweet_info[3] }}
			</p>
			<a href="/user:{{ tweet_info[0] }}" style="color:red"><b>&mdash; @{{ tweet_info[2] }}</b></a>
			<a>{{ tweet_info[4] }}</a>

			{% if tweet_info[9] %}
				<a href="/tweet: {{ tweet_info[10] }}" style="color:grey"><i>Retweeted: See original tweet</i></a>
			{% endif %}
		</blockquote>
	</div>
	
	<form action="" method ="post">
		{% if user_tweet %}
			<button type="submit" name="DEL" value="DEL">DELETE</button>
			<p></p>
			<p></p>
			<p>You cannot like, retweet, or report your own tweet.</p>
		{% endif %}

		{% if user_tweet %}
			<button type="submit" name="LIKE" value="LIKE" disabled>LIKE</button> <span>{{ tweet_info[7] }} people like this</span>

		{% else %}
			{% if liked %}
				<button type="submit" name="UNDO LIKE" value="UNDO LIKE">UNDO LIKE</button> <span>{{ tweet_info[7] }} people (including you) like this tweet</span>
			{% else %}
				<button type="submit" name="LIKE" value="LIKE">LIKE</button> <span>{{ tweet_info[7] }} people like this</span>
			{% endif %}
		{% endif %}

		<p></p>
		
		{% if user_tweet %}
			<button type="submit" name="RETWEET" value="RETWEET" disabled="">RETWEET</button> <span>{{ tweet_info[7] }} people have retweeted this tweet</span>
		{% else %}
			{% if retweeted %}
				<button type="submit" name="UNDO RETWEET" value="UNDO RETWEET">UNDO RETWEET</button> <span>{{ tweet_info[7] }} people (including you) have retweeted this tweet</span>
			{% else %}
				<button type="submit" name="RETWEET" value="RETWEET">RETWEET</button> <span>{{ tweet_info[7] }} people have retweeted this tweet</span>
			{% endif %}
		{% endif %}
		
		<p></p>

		{% if user_tweet %}
			<button type="submit" name="REPORT" value="REPORT" disabled="">REPORT</button> <span>{{ tweet_info[7] }} people have reported this tweet</span>
		{% else %}
			{% if reported %}
				<button type="submit" name="UNDO REPORT" value="UNDO REPORT">UNDO REPORT</button> <span>{{ tweet_info[7] }} people (including you) have reported this tweet</span>
			{% else %}
				<button type="submit" name="REPORT" value="REPORT">REPORT</button> <span>{{ tweet_info[7] }} people have reported this tweet</span>
			{% endif %}
		{% endif %}
	</form> 

	<h2>Comments on this tweet ({{ tweet_info[5] }} comments):</h2>

	{% for comment in comment_list %}
		<blockquote class="twitter-tweet" tw-align-center data-lang="en">
			<p lang="en" dir="ltr">
				{{ comment[0][5] }}
			</p>
			<a href="/user:{{ tweet_info[0] }}" style="color:red"><b>&mdash; @{{ comment[0][2] }}</b></a>
			<a>{{ comment[0][4] }}</a>
			{% if comment[1] %}
				<form action="" method ="post">
					<button type="submit" name="DELETECOMMENT" value="{{ comment[0][0] }}">DELETE COMMENT</button>
				</form>
			{% endif %}
		</blockquote>
	{% endfor %}

				
	<h3>Add a comment:</h3>
	
	<form action="" method="POST">
			<textarea placeholder="write a comment for this tweet" name="comment" cols="50" rows="4"></textarea>
			<button type="submit" name="COMMENT" value="COMMENT">COMMENT</button>
	</form>
		


</div>
{% endblock %}